
<footer class="page_footer ds section_padding_top_50 section_padding_bottom_110" style="background-image:url(@Model.FooterImage.ImageUrl);">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 to_animate" data-animation="fadeInUp">
				<div class="widget widget_text topmargin_60">
					<p class="bottommargin_45">
						<img src="/images/logo.png" alt="">
					</p>
					<p class="bottommargin_10">
                        @Html.Raw(Model.FooterAbout.Body)
				</div>
			</div>
			<div class="col-md-3 col-sm-6 to_animate" data-animation="fadeInUp">
				<div class="widget widget_text fontsize_16 topmargin_60">
					<h4 class="widget-title2">تماس با ما</h4>
					<div class="media">
						<div class="media-left">
							<i class="fa fa-map-marker highlight fontsize_16"></i>
						</div>
						<div class="media-body">
							@Model.FooterAddress.Summery
						</div>
					</div>
					<div class="media">
						<div class="media-left">
							<i class="fa fa-phone highlight fontsize_16"></i>
						</div>
						<div class="media-body">
						@Html.Raw(Model.FooterPhone.Body)
						</div>
					</div>
					<div class="media">
						<div class="media-left">
							<i class="flaticon-paper-plane highlight fontsize_16"></i>
						</div>
						<div class="media-body greylinks">
							<a href="#">@Model.FooterEmail.Summery</a>
							<br>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 to_animate" data-animation="fadeInUp">
				<div class="widget widget_recent_entries topmargin_60">
					<h4 class="widget-title2">آخرین اخبار</h4>
					<ul class="media-list">
                        @foreach (var blog in Model.FooterBlogs)
                        {
                            <li class="media">
                                <a class="media-left" href="/blog/@blog.UrlParam">
                                    <img class="media-object" src="@blog.ImageUrl" alt="">
                                </a>
                                <div class="media-body media-middle">
                                    <h5 class="fontsize_16 darklinks2">
                                        <a href="/blog/@blog.UrlParam">@blog.Title</a>
                                    </h5>
                                    <span class="date highlight fontsize_12">
                                        <time datetime="2016-08-01T15:05:23+00:00" class="entry-date">
                                           @blog.CreationDate.ToShortDateString()
                                        </time>
                                    </span>
                                </div>
                            </li>
                        }
						

					</ul>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 to_animate" data-animation="fadeInUp">
				<div class="widget widget_mailchimp topmargin_60">
					<h4 class="widget-title2">ثبت نام در خبرنامه</h4>
					<p>با ثبت ایمیل خود در خبر نامه عضو شوید.</p>
					<form class="signup form-inline" action="/" method="get">
						<div class="form-group">
							<input name="email" type="email" class="mailchimp_email form-control" placeholder="ایمیل خود را ثبت کنید">
						</div>
						<button type="submit" class="theme_button">ارسال</button>
						<div class="response"></div>
					</form>
					<div class="lightgreylinks page_social topmargin_20">
						<a href="#" class="social-icon soc-facebook"></a>
						<a href="#" class="social-icon soc-twitter"></a>
						<a href="#" class="social-icon soc-google"></a>
						<a href="#" class="social-icon soc-pinterest"></a>
						<a href="#" class="social-icon soc-linkedin"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<section class="page_copyright ds ms doted_items table_section section_padding_25 ">
	<div class="container">
		<div class="row">

			<div class="col-md-7 col-lg-8  hidden-xs hidden-sm">
				<div class="greylinks">
					<ul class="menu sf-menu">
						<li>
							<a href="/">خانه</a>
						</li>
						<li>
							<a href="#">آثار</a>
						</li>
						<li>
							<a href="/artists">هنرمندان</a>
						</li>
					
						<li>
                            <a href="/userlogin">ورود </a>
						</li>
                        @*<li>
                            <a href="#">درباره ما</a>
                        </li>
						<li>
							<a href="#">تماس با ما</a>
						</li>*@
					</ul>
				</div>
			</div>

			<div class="col-md-5 col-lg-4 text-md-right">
				<p class="greylinks dirrtl">
					تمامی حقوق این سایت محفوظ است طراحی وب سایت همراه با
					<i class="flaticon-shapes highlight"></i> توسط
					<a href="https://zavoshsoftware.com/page/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%AD%D8%B1%D9%81%D9%87-%D8%A7%DB%8C">زاوش</a>
				</p>
			</div>
		</div>
	</div>
</section>