@model ViewModels.HomeViewModel
@{
    Layout = "~/Views/Shared/FrontEndLayout/_FronEndLayout.cshtml";
}




<section class="intro_section page_mainslider ds">
    <div class="flexslider">
        <ul class="slides">
            @foreach (var slide in Model.Sliders)
            {
            <li class="">
                <img src="@slide.ImageUrl" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center text-md-right">
                            <div class="slide_description_wrapper">
                                <div class="slide_description text-center">
                                    <div class="heading text-center bottom_border bottommargin_25">
                                        <p class="text-uppercase josefin grey">@slide.Title</p>
                                        <h1 class="text-uppercase topmargin_0">@slide.SecondTitle</h1>
                                    </div>
                                    <p class="bottommargin_40">
                                        @Html.Raw(slide.Body)
                                    </p>
                                    <a href="@slide.LinkDestination" class="theme_button margin_0">@slide.LinkTitle</a>
                                </div>
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
                <div class="slide_social">
                    <a href="#" class="social-icon monochrome-icon rounded-icon soc-facebook"></a>
                    <a href="#" class="social-icon monochrome-icon rounded-icon soc-twitter"></a>
                    <a href="#" class="social-icon monochrome-icon rounded-icon soc-instagram"></a>
                </div>
            </li>
            }
        </ul>
    </div>
    <!-- eof flexslider -->
</section>



<section class="ls ms columns_margin_0 columns_padding_0 page_portfolio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="heading text-center section-title">
                </div>
            </div>
        </div>
    </div>
    <div class="columns-4">
        <ul id="products" class="products list-unstyled grid-view">
            @foreach (var product in Model.ProductGroups)
            {
                <li class="product type-product">
                    <div class="side-item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="item-media">
                                    <a href="/category/@product.UrlParam">
                                        <img src="@product.ImageUrl" alt="">
                                    </a>
                                    
                                </div>
                                <h3>
                                    <a href="/category/@product.UrlParam">@product.Title</a>
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <div class="item-content">
                                    <h3>
                                        <a href="/category/@product.UrlParam">@product.Title</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>








<section class="ls section_padding_top_110 columns_margin_0 image-overflow" id="home-history">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-lg-offset-0 col-lg-6 text-center text-lg-left to_animate" data-animation="fadeInRight">
                <img src="@Model.About.ImageUrl" alt="" class="top-overlap-small right-offset">
            </div>

            <div class="col-md-offset-1 col-md-10 col-lg-offset-0 col-lg-6">
                <div class="heading bottommargin_40">
                    <p class="text-uppercase josefin grey fontsize_20">@Model.About.Title</p>
                    <h2 class="section_header topmargin_5 bottommargin_0">@Model.About.Summery</h2>
                </div>
                <p>
                    @Html.Raw(Model.About.Body)
                </p>
                @*<ul class="list2 leftmargin_50 topmargin_30">
                        <li>یک ویژگی اینجا قرار بگیرد.</li>
                        <li>یک ویژگی اینجا قرار بگیرد.</li>
                        <li>یک ویژگی اینجا قرار بگیرد.</li>
                        <li>یک ویژگی اینجا قرار بگیرد.</li>
                        <li>یک ویژگی اینجا قرار بگیرد.</li>

                    </ul>*@
            </div>

        </div>
    </div>
</section>
<section class="ls ms columns_margin_0 columns_padding_0 page_portfolio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="heading text-center section-title">
                    <p class="text-uppercase josefin grey fontsize_20">Artebello</p>
                    <h2 class="section_header bottommargin_0">جدیدترین آثار هنری</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="columns-4">
        <ul id="products" class="products list-unstyled grid-view">
            @foreach (var product in Model.LatestProducts)
            {
                <li class="product type-product">
                    <div class="side-item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="item-media borderd-media">
                                    <a href="/product/@product.Code">
                                        <img src="@product.ImageUrl" alt="">
                                        @*<span class="newproduct">New</span>*@
                                    </a>
                                    <div class="product-buttons">
                                        <a href="#" rel="nofollow" class="favorite_button">
                                            <i class="rt-icon2-heart"></i>
                                        </a>
                                        <a href="#" rel="nofollow" class="add_to_cart_button">
                                            <i class="rt-icon2-basket"></i>
                                        </a>
                                    </div>
                                </div>
                                <h3>
                                    <a href="/product/@product.Code">@product.Title</a>
                                </h3>
                            </div>
                            <div class="col-md-6">
                                <div class="item-content">
                                    <h3>
                                        <a href="/product/@product.Code">@product.Title</a>
                                    </h3>
                                    <h4>Product Description</h4>
                                    <p class="product-description">
                                        @Html.Raw(product.Summery)
                                    </p>
                                    <h4>Product Rating</h4>
                                    <div class="star-rating" title="Rated 4.00 out of 5">
                                        <span style="width: 80%">
                                            <strong class="rating">4.00</strong> out of 5
                                        </span>
                                    </div>
                                    <span class="price">
                                        <span>
                                            <span class="amount">@string.Format("{0:n0}", product.Amount) تومان</span>
                                        </span>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>
<section class="ls section_padding_top_110 columns_margin_0">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-lg-offset-0 col-lg-6 col-lg-push-6 text-center">
                <img src="@Model.AboveSellers.ImageUrl" alt="" class="top-overlap-very-small">
            </div>
            <div class="col-md-10 col-md-offset-1 col-lg-offset-0 col-lg-6 col-lg-pull-6 dirrtl">
                <div class="heading bottommargin_35">
                    <p class="text-uppercase josefin grey fontsize_20">@Model.AboveSellers.Title</p>
                    <h2 class="section_header bottommargin_0">@Model.AboveSellers.Summery</h2>
                </div>
                <p>
                    @Html.Raw(Model.AboveSellers.Body)
                </p>
                <p class="darklinks topmargin_40">
                    <a href="@Model.MiddelLink.Summery" class="theme_link bottommargin_30">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                       @Model.MiddelLink.Title

                    </a>
                </p>
            </div>

        </div>
    </div>
</section>


<section class="ls section_padding_110">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="heading text-center">
                    <p class="text-uppercase josefin grey fontsize_20">artebello</p>
                    <h2 class="section_header bottommargin_0">برترین هنرمندان</h2>
                </div>
            </div>
        </div>
        <div class="row topmargin_50">
            <div class="col-sm-12">
                <div class="owl-carousel numbered-dots margin_0" data-themeclass="owl-theme" data-dots="true" data-items="9" data-responsive-lg="3" data-responsive-md="2" data-responsive-sm="2" data-responsive-xs="1" data-margin="30">

                    @foreach (var seller in Model.Sellers)
                    {
                        <div class="vertical-item item-type1">
                            <div class="item-media">
                                <img src="@seller.ImageUrl" alt="s">
                            </div>
                            <div class="item-content">
                                <h3>
                                    <a href="/artist/@seller.Id">@seller.Title</a>
                                </h3>
                                <p class="fontsize_18">تاریخ عضویت @seller.StartDate</p>
                                @*<div class="item-meta">
                                    <div>
                                        <span class="bold">تعداد کل آثار</span>
                                        <br>
                                        <span>@seller.Products.Count()</span>
                                    </div>
                                    <div>
                                        <span class="bold">تعداد آثار فروش رفته</span>
                                        <br>
                                        <span>79</span>
                                    </div>

                                </div>*@
                                <div class="ds item-social darklinks">
                                    <div>
                                        @*<a href="#" class="social-icon soc-facebook"></a>*@
                                        <a href="#" class="social-icon soc-twitter"></a>
                                        @*<a href="#" class="social-icon soc-google"></a>*@
                                        <a href="#" class="social-icon soc-instagram"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }


                </div>
            </div>
        </div>
    </div>
</section>
<section class="cs section_padding_110 page_banner parallax" style="background-image:url(@Model.MiddleBanner.ImageUrl);">
    <div class="container">
        <div class="row topmargin_30 bottommargin_30">
            <div class="col-sm-12 text-center">
                <p class="margin_0 fontsize_40 josefin bold grey text-uppercase dirrtl">@Model.MiddleBanner.Title</p>
                <p class="fontsize_30 josefin thin grey text-uppercase topmargin_5 bottommargin_50 dirrtl">@Model.MiddleBanner.Summery</p>
                <a href="#" class="theme_button margin_0">درباره ما</a>
            </div>
        </div>
    </div>
</section>
<section class="ls section_padding_top_110 section_padding_bottom_75 page_blog">
    <div class="container">
        <div class="isotope_container isotope blog_isotope row masonry-layout columns_margin_bottom_30" data-filters=".blog_filters">
            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 @ViewBag.ProductGroups">
                <div class="vertical-item vertical-center blog-filters-container">
                    <div class="item-content">
                        <div class="display_table">
                            <div class="display_table_cell text-left">
                                <div class="heading bottommargin_45">
                                    <p class="text-uppercase josefin grey fontsize_20">وبلاگ</p>
                                    <h2 class="section_header topmargin_5 bottommargin_0">آخرین اخبار و مقالات</h2>
                                </div>
                                <div class="filters blog_filters">
                                    <a href="#" data-filter="*" class="selected">همه</a>

                                    @foreach (var category in Model.BlogCategories)
                                    {
                                        <a href="#" data-filter=".@category.Id">@category.Title</a>
                                    }
                                </div>
                                <p class="darklinks topmargin_90">
                                    <a href="/blog" class="theme_link">
                                        مشاهده تمامی مطالب
                                        <i class="rt-icon2-chevron-thin-left" aria-hidden="true"></i>

                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @foreach (var blog in Model.Blogs)
            {
                <div class="isotope-item col-lg-3 col-md-4 col-sm-6 @blog.BlogCategoryId">
                    <article class="vertical-item item-type1 post">
                        <div class="item-media">
                            <img src="@blog.ImageUrl" alt="s">
                        </div>
                        <div class="item-content">
                            <div class="categories-links bottommargin_5 highlight">
                                <a href="/blog/@blog.UrlParam">@blog.CreationDate.ToShortDateString()</a>
                            </div>
                            <p class="fontsize_18 bold darklinks2">
                                <a href="/blog/@blog.UrlParam">
                                    @blog.Title
                                </a>
                            </p>
                            <div class="item-meta">
                                <p>
                                    @Html.Raw(string.Format(blog.Body.Length > 200 ? blog.Body.Substring(0, 200) + "..." : blog.Body))
                                </p>
                            </div>
                            <div class="post-social lightgreylinks">
                                <a href="#" class="social-icon soc-facebook"></a>
                                <a href="#" class="social-icon soc-twitter"></a>
                                <a href="#" class="social-icon soc-google"></a>
                                <a href="#" class="social-icon soc-instagram"></a>
                            </div>
                        </div>
                    </article>
                </div>
            }


        </div>
    </div>
</section>

