@model ViewModels.RegisterViewModel

@{
    ViewBag.Title = "ثبت نام | ";
    Layout = "~/Views/Shared/FrontEndLayout/_FronEndLayout.cshtml";
}
<section class="page_breadcrumbs ls ms section_padding_bottom_15 section_padding_top_75" style="background-image: url('@ViewBag.HeaderImage');">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="heading text-center bottom_border">
                    <p class="text-uppercase josefin grey fontsize_20">ثبت نام</p>
                    <h1 class="section_header topmargin_5">ثبت نام</h1>
                </div>
                <ol class="breadcrumb dirrtl">
                    <li>
                        <a href="./">
                            خانه
                        </a>
                    </li>
                    <li class="active">
                        ثبت نام
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="ls section_padding_110">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 to_animate login-main" data-animation="scaleAppear">
               @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
               {
                <div class="contact-form row columns_margin_0 login-form">
                    <p>جهت ثبت نام فرم زیر را تکمیل نمایید</p>

                        @Html.ValidationSummary(true)
                        <div class="field-input">
                            @Html.TextBoxFor(model => model.User.FullName, null, new { @class = "form-control", @placeholder = "نام و نام خانوادگی" })

                            @Html.ValidationMessageFor(model => model.User.FullName)

                        </div>
                        <div class="field-input">
                            @Html.TextBoxFor(model => model.User.CellNum, null, new { @class = "form-control", @placeholder = "شماره همراه" })

                            @Html.ValidationMessageFor(model => model.User.CellNum)

                        </div>
                        <div class="field-input">

                            @Html.TextBoxFor(model => model.User.Password, null, new { @class = "form-control", @placeholder = "کلمه عبور", @type = "password" })

                            @Html.ValidationMessageFor(model => model.User.Password)

                        </div>


                        <div class="field-input">
                            <input type="submit" value="ثبت نام" class="theme_button margin_0 animated fadeInRight" />
                        </div>
                    
                </div>
               }
            </div>
        </div>
    </div>
</section>



